body {
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow: hidden;
}

html {
  font-family: Roboto, Helvetica, sans-serif;
}

.header {
  width: 100%;
  position: fixed;
  border: 2px solid black;
  background-color: #ffffff;
  padding: 1rem;
  top: 0;
}

.header-text {
  font-weight: bold;
  vertical-align: super;
}

.footer {
  width: 100%;
  border: 2px solid black;
  background-color: #214e8f;
  padding: 1rem;
  color: white;
  text-align: center;
  bottom: 0;
  position: fixed;
}

.footer-text {
  font-weight: bold;
  padding: 1rem;
}

.footer-img {
  width: 10%;
}

.app-body {
  width: 80%;
  border: 2px solid black;
  margin: 0 auto;
}